.Asset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 120px;
  }

@media only screen and (max-width: 300px) {
    .Asset img {
        width: 100%;
    }
  }