.Button {
    font-size: 0.9rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    font-weight: 400;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
}
  
.Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
}
  
.Button:hover:active {
    background-color: #ad4a31 !important;
}
  
.Button:active {
    background-color: #ad4a31 !important;
}
  
.Button:focus {
    background-color: #ad4a31;
}
  
.Wide {
    padding: 10px 50px;
    width: 100%;
}
  
.Blue,
.BlueOutline:hover,
.Bright:hover {
    background-color: #ff9254;
    color: #180a06;
}
  
.BlueOutline,
.Blue:hover {
    background-color: #ff9254;
    color: #180a06;
}
  
.Black,
.BlackOutline:hover {
    background-color: #ad4a31;
    color: #ffffff;
}
  
.Black:hover,
.BlackOutline {
    background-color: #ff9254;
    color: #180a06;
}
  
.Bright {
    background-color: #ad4a31;
    color: #ffffff;
}