.Input {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
}

.Row {
    justify-content: center;
    padding-top: 5px;
}

.ContactImage {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.ContactUsText {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 125%;
}

.ContactContainer {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #dadadf;
    margin-bottom: 50px;
}

@media screen and (max-width: 550px) {
    .ContactImage{
        display: none;
    }
}