.NavBar {
    background-color: #bed1bae7;
    box-shadow: 0px 10px 4px -2px #8d9b8aaf;
    border-radius: 0px 0px 15px 15px;
  }
  
  .NavLink {
    padding: 5px;
  }

  .NavLink:hover {
    color: #ff9254;
  }
  
  .Active i {
    color: #ad4a31;
  }