.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
  }
  
  .Title {
    font-size: 150%;
    padding-left: 10px;
    font-weight: 600;
  }

  .FeedLiked {
    font-size: 100%;
    font-weight: 400;
    background-image: linear-gradient(to right, #f8f8f8,#bed1bace,#f8f8f8);
    padding: 10px;
  }

  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }